/*.classpath
/*.project
/*.settings
/*.metadata
*/target/*
**/rebel.xml
target/
*.settings
*.classpath
*.project
bin/
*.orig
*.class
directory/
*/directory/*
/*derby.log

# Package Files #
*.jar
*.war
*.ear
