<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
  	<meta th:fragment="head">
	  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</meta>
	<link rel="icon" type="image/png" href="/images/image.png" th:href="@{~/images/image.png}" />
  </head>
  <body>
    <div th:fragment="header" id="header">
	    <script th:inline="javascript">
	    	/*<![CDATA[*/
				var contextPath = /*[[${session.contextPath}]]*/;
	    		if(contextPath == null) {
	    			contextPath = '';
	    		}
				var domain = /*[[${session.domain}]]*/;
				if(domain == null) {
					domain = '';
				}
			/*]]>*/
	    </script>
     	<div class="header-right">
     		<div class="header-menu">
     			<a th:href="@{~/dashboard.html}" href="/"><button type="button" id="calendar-button" class="header-button" role="button"><span class="button-text">Calendar</span></button></a>
				<a th:href="@{~/recipes.html}" href="/recipes.html"><button type="button" id="recipes-button" class="header-button" role="button"><span class="button-text">Recipes</span></button></a>
				<a th:href="@{~/tags.html}" href="/tags.html"><button type="button" id="tags-button" class="header-button" role="button"><span class="button-text">Tags</span></button></a>
     		</div>
			<div class="admin-admin-button" th:if="${#authentication} ? ${#authorization.expression('!isAuthenticated()')} : ${true}">
     			<a th:href="@{~/login.html}" href="/login.html"><button type="button" id="admin-button" class="admin-button" role="button"><span class="button-text">Login</span></button></a>
     		</div>
     		<div class="logged-in" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
     			Logged in as <span sec:authentication="name" style="font-weight:bold"></span>
     		</div>
     		<div class="admin-admin-button" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
				<form th:action="@{~/logout}" id="logout-form" method="post">
				    <input type="submit" value="Logout" class="logout-button" id="logout-button"></input>
				</form>
      		</div>
		</div>
    </div>
  </body>
</html>